table td {
	border-collapse: collapse;
	border: 2px solid black;
	padding: 50px;
	height: 0px;
	width: 0px;
	background-image: radial-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
	
	
	transition:
	background-color 1s ease,
	height 1s ease,
	width 1s ease;
}

td:hover {
	height: 150px;
	width: 150px;
	background-color: black;
}

#grad {
  background-image: repeating-linear-gradient(to right,
  red, orange 10%, green 20%);
}

.container, h1 {
	text-align: center;
	color: white;
	
	text-shadow:
	2px 2px 0 black;
}

.teapot {
	background-color: #ff0000;
	
	transition:
	background-color 0.5s ease;
}

.teapot:hover {
	background-color: #00ff00
}

.border {
	border-style: solid;
	border-color: red;
	background-color: red;
	width: 100px;
	height: 100px;
	
	
	margin: 0px 0px 0px 50px; /*TOP -> LEFT -> BOTTOM -> RIGHT */
	border-radius: 50px 0px
}

.arrows {
	background-color: red;
	width: 180px;
	margin: 0px auto;
	text-align: center;
	font-size: 50px;
}
