table td {
	border-collapse: collapse;
	border: 2px solid black;
	padding: 50px;
	height: 0px;
	width: 0px;
	background-image: radial-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
	
	
	transition:
	background-color 1s ease,
	height 1s ease,
	width 1s ease;
}

td:hover {
	height: 150px;
	width: 150px;
	background-color: black;
}

#grad {
  background-image: repeating-linear-gradient(to right,
  red, orange 10%, green 20%);
}

.container, h1 {
	text-align: center;
	color: white;
	
	text-shadow:
	2px 2px 0 black;
}

.teapot {
	background-color: #ff0000;
	
	transition:
	background-color 0.5s ease;
}

.teapot:hover {
	background-color: #00ff00
}

.border {
	/*BORDER STUFF*/
	border-style: solid;
	border-top-color: red;
	border-bottom-color: blue;
	background-color: white;
	border-width: 100px 0px 100px 0px; /*TOP -> LEFT -> BOTTOM -> RIGHT */
	border-radius: 300px 500px 300px 500px;
	
	
	/*width height margin padding*/
	width: 300px;
	height: 100px;
	margin: 50px 0px 0px 50px; 	
	
	/*transition*/
	transition:
	border-radius 1s ease;
}

/*text for pepsi logo*/
#pepsiText {
	font-size: 150px;
	margin-top: -40px;
	margin-left: 30px;
	
	text-shadow:
	0 0 0px black; /*horizontal, vertical, blur, color*/
	
	transition: 
	text-shadow 1s ease;
}

#pepsiText:hover {
	text-shadow:
	0 0 10px red,
	0 0 20px red,
	0 0 60px red;
}

.arrows {
	/*sizing and align*/
	background-color: rgba(255, 0, 0, 0.5);
	width: 180px;
	margin: 0px auto;
	text-align: center;
	font-size: 50px;
	
	/*border*/
	border-style: none solid;
	border-width: 5px;
	border-color: rgba(255, 0, 0, 0.6);
	
	/*text-shadow*/
	text-shadow:
	0px 0px 4px black; /*horizontal, vertical, blur, color */
	
	
	/*transition*/
	transition:
	text-shadow 1s ease;
}

.arrows:hover {
	text-shadow:
	0px -30px 10px black;
}
